<div class="post-content"><%-page.content%></div>

<script>
  // window.onload = detectors();
  window.onload = function () {
    if (typeof detectors === "function") {
      detectors();
    }
  };
</script>
